<div class="navbar">
    <div class="container-fluid" style="
    background-color: #F6F6F7">

        <ul class="align-items-center justify-content-between justify-content-lg-end mt-1 mb-2 my-lg-0">
            <li class="nav-item">
              <button class="navbar-toggler collapsed control" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <a id="cartdetails" class="link" href="./cart.html" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="navbar-icon-link dropdown-toggle"> -->
                    <i class="fa fa-shopping-cart"></i>
                    My Cart(<span class="cart-count">0</span>)
                <!-- </a> -->
                </button>
            </li>

        </ul>
        <div  class="minichart ">
                    <div class="navbar-cart-product-wrapper">

                      <div class="navbar-cart-product">
                        <div class="d-flex align-items-center"><img src="../../image/classic-tee.jpg" alt="..." class="img-fluid navbar-cart-product-image indivial-img" style = " height:100px;"/>
                          <div class="w-100"><a href="#" class="close text-sm mr-2"><i class="fa fa-times">                                                   </i></a>
                            <div class="pl-3"> <a href="detail.html" class="navbar-cart-product-link">Classic Tee</a><small class="d-block text-muted">1x$75.00 </small><strong class="d-block text-sm">Size: S</strong></div>
                          </div>
                        </div>
                      </div>

                      <div class="navbar-cart-product">
                        <div class="d-flex align-items-center"><img src="../../image/classic-tee.jpg" alt="..." class="img-fluid navbar-cart-product-image indivial-img" alt="..." class="img-fluid navbar-cart-product-image" style = "height:100px;">
                          <div class="w-100"><a href="#" class="close text-sm mr-2"><i class="fa fa-times">                                                   </i></a>
                            <div class="pl-3"> <a href="detail.html" class="navbar-cart-product-link">Classic Tee</a><small class="d-block text-muted">1x$75.00 </small><strong class="d-block text-sm">Size: M </strong></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
    </div>
</div>
