
*{
    margin: 0;
    padding: 0;
}
body{
    background: #f6f6f6;
    font: 12px/1.5 tahoma, arial, Microsoft YaHei, sans-serif;
}
li{
    list-style: none;
}
img{
    display: block;
    border: none;
}

.container-fluid{display: block !important}
.nav-item{float:right !important}
.minichart{
  display: none;
  position: absolute;
  right: 0;
    left: auto;
    top: 100%;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: 0 0;
    margin: 0 0 0;
    font-size: .9rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    margin-right: 20px;
}


.w{
    width: 1080px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.pl-3{
  margin-right: 50px
}


.hide{
    display: none;
}

.link{
    color: #999;
    cursor: pointer;
    text-decoration: none;
}
.link:hover{
    color: #e80012;
}
.link-text{
    color: #999;
    text-decoration: none;
}
